.site-header {
  background: #556A82;
  border: 0;
}
.site-nav {
  font-size: 0;
}
.site-nav a:link,
.site-nav a:visited,
.site-nav a:hover,
.site-nav a:active {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}
.site-title {
  background: url('/assets/img/logo.png') no-repeat 0 50%;
  background-size: auto 60px;
  text-indent: -9999px;
  height: 80px;
  width: 130px;
}
.site-nav .trigger,
.site-nav .page-link {
  height: 80px;
}
.site-nav .page-link {
  display: inline-block;
  line-height: 80px;
  padding: 0 16px
}
.site-nav .page-link.active,
.site-nav .page-link:hover {
  background: #728ba7;
}
.site-nav .page-link:not(:last-child) {
  margin: 0;
}

/* standings */
.wins-losses,
.percentage {
  width: 2%;
}

@media screen and (max-width: 800px) {
  .site-nav .trigger {
    height: auto;
  }
  .site-header a:link,
  .site-header a:visited,
  .site-header a:hover,
  .site-header a:active {
    color: #000;
  }
  .site-nav .page-link {
    display: block;
    height: auto;
    line-height: 2.25;
  }
  .site-nav .page-link.active,
  .site-nav .page-link:hover {
    background: none;
  }
}

@media screen and (max-width: 600px) {
  .site-nav {
    top: 20px;
  }
}
